---
- name: Check if backup scripts exist
  ansible.builtin.stat:
    path: "{{ backup_path }}/{{ inventory_hostname }}/{{ item }}.sh"
  loop:
    - backup_volumes
    - backup_databases
  register: backup_scripts
  changed_when: false
  loop_control:
    label: "{{ item }}.sh"
  when:
    - customer_state == "up"
    - customer_backup_enabled | bool

- name: Run pre-deploy backup (async) - Only if script exists
  ansible.builtin.command: bash {{ item.item.path }}
  loop: "{{ backup_scripts.results }}"
  when:
    - customer_state == "up"
    - customer_backup_enabled | bool
    - item.stat.exists
  async: 1800
  poll: 15
  ignore_errors: true
  loop_control:
    label: "{{ item.item }}.sh"