<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لئو | سامانه زیر ساخت کلود کالیبری</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/static/img/favicon.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/static/img/favicon.png">
    <link rel="shortcut icon" href="/static/img/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div id="contentWrapper">
        <header>
            <div class="d-flex align-items-center gap-2">
                <img src="/static/img/favicon-white.png" alt="لئو" class="logo">
                <h1 class="mb-0">لئو <span class="fs-5">(<span id="menu-title">سامانه زیر ساخت کلود کالیبری</span>)</span></h1>
            </div>
            <span class="hamburger" onclick="toggleSidebar()">&#9776;</span>
        </header>

        <div id="sidebar">
            <div class="text-center mb-4">
                <img src="/static/img/favicon.png" alt="لئو" class="sidebar_logo">
            </div>
            <hr>
            <a href="#" data-section="home" data-title="سامانه زیر ساخت کلود کالیبری" class="nav-link p-2 mx-0 my-2 active">صفحه اول</a>
            <a href="#" data-section="customers" data-title="مدیریت مشتریان" class="nav-link p-2 mx-0 my-2">مدیریت مشتریان</a>
            <hr>
            <a href="#" data-section="containers" data-title="مشاهده کانتینر ها" class="nav-link p-2 mx-0 my-2">مشاهده کانتینر ها</a>
            <a href="#" data-section="volumes" data-title="مشاهده ولوم ها" class="nav-link p-2 mx-0 my-2">مشاهده ولوم ها</a>
            <a href="#" data-section="networks" data-title="مشاهده نتورک ها" class="nav-link p-2 mx-0 my-2">مشاهده نتورک ها</a>
            <a href="#" data-section="images" data-title="مشاهده ایمیج ها" class="nav-link p-2 mx-0 my-2">مشاهده ایمیج ها</a>
            <hr>
            <a href="#" data-section="logs" data-title="مشاهده لاگ ها" class="nav-link p-2 mx-0 my-2">مشاهده لاگ ها</a>
            <a href="#" data-section="backup" data-title="مشاهده بک اپ ها" class="nav-link p-2 mx-0 my-2">مشاهده بک اپ ها</a>
            <hr>
            <a href="#" data-section="system" data-title="مشاهده اطلاعات سیستم" class="nav-link p-2 mx-0 my-2">مشاهده اطلاعات سیستم</a>
            <a href="#" data-section="crons" data-title="مشاهده کرن جاب ها" class="nav-link p-2 mx-0 my-2">مشاهده کرن جاب ها</a>

            <!-- <a href="#" data-section="domains" data-title="مشاهده دامنه ها" class="nav-link p-2 mx-0 my-2">مشاهده دامنه ها</a>
            <a href="#" data-section="projects" data-title="مشاهده ماژول ها" class="nav-link p-2 mx-0 my-2">مشاهده ماژول ها</a>
            <a href="#" data-section="tests" data-title="مشاهده گزارشات تست" class="nav-link p-2 mx-0 my-2">مشاهده گزارشات تست</a> -->
        </div>

        <!-- محتوای دینامیک -->
        <main id="mainContent">
            <div class="content-section" id="homeSection">
                <div class="container-fluid mt-3 mb-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">🏠 خوش آمدید</div>
                                <div class="card-body">
                                    <h4>به لئو (سامانه مدیریت زیرساخت کالیبری) خوش آمدید</h4>
                                    <p>برای شروع یکی از بخش‌های منو را انتخاب کنید.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="text-center p-1 m-0">
            <p class="p-0 m-0">© 2026 Leo Web UI</p>
        </footer>
    </div>

    <!-- JS -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <!-- ماژول Labels -->
    <script src="/static/js/labels-module.js"></script>
    
    <!-- ماژول‌های منطق -->
    <script src="/static/js/ansible.js"></script><!-- customer -->
    <script src="/static/js/system.js"></script>
    <script src="/static/js/cron.js"></script>
    <!-- <script src="/static/js/backup.js"></script> -->
    <!-- <script src="/static/js/logs.js"></script> -->
    <script src="/static/js/docker.js"></script><!-- docker-images -->
    <script src="/static/js/docker-networks.js"></script>
    <script src="/static/js/docker-volumes.js"></script>
    <script src="/static/js/docker-containers.js"></script>
    
    <!-- ماژول‌های UI -->
    <script src="/static/js/ansible-ui.js"></script>
    <script src="/static/js/system-ui.js"></script>
    <script src="/static/js/cron-ui.js"></script>
    <script src="/static/js/backup-ui.js"></script>
    <script src="/static/js/logs-ui.js"></script>
    <script src="/static/js/docker-ui.js"></script>
    <script src="/static/js/docker-networks-ui.js"></script>
    <script src="/static/js/docker-volumes-ui.js"></script>
    <script src="/static/js/docker-containers-ui.js"></script>
    
    <!-- فایل اصلی -->
    <script src="/static/js/app.js"></script>
</body>

</html>